/* COMMON */

:root {
  --color-main: #7225FF;
  --color-black-01: #161616;
  --color-black-02: #333333;
  --color-black-03: #d9d9d9;
}

.active {
  color: var(--color-main);
}

*, a, button {
  font-family: "Anton", "Pretendard", sans-serif;
  letter-spacing: -0.3;
  color: var(--color-black-01);
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
`
#header a {
  font-size: 40px;
}

#header a:hover {
  color: var(--color-main);
}

/* ABOUT */

/* PROJECTS */

.wrap {
  position: relative;
}

#main .categories {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  max-width: 1120px;
  padding: 20px 0 40px;
  margin: auto;
}

#main .categories button {
  font-size: 24px;
}

#main .categories button:hover {
  color: var(--color-main);
}

#main .thumbnail .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: calc(100% - 80px);
  max-width: 1120px;
  margin: 0 auto 100px;
}

#main .thumbnail .projects {
  display: none;
}

#main .thumbnail .projects.ct01 {
  display: flex;
}

#main .thumbnail .projects li {
  width: calc((100% - 40px) / 3);
  height: 0;
  padding-top: calc(((100% - 40px) / 3) * 1.3333);
  border-radius: 16px;
  background-color: var(--color-black-03);
  cursor: pointer;
}

#main .detail .projects {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100vh;
}

#main .detail .projects .project_wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 120px 0 100px;
  transition: 0.3s;
}

/* #main .detail .projects:not(:first-child),
#main .detail .projects>li:not(:first-child) {
  display: none;
} */

#main .detail .projects .btn_close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 40px;
  right: 40px;
}

#main .detail .projects .btn_close:hover>div {
  background-color: var(--color-main);
}

#main .detail .projects .btn_close>div {
  position: absolute;
  top: 12px;
  right: -3px;
  width: 30px;
  height: 3px;
  background-color: var(--color-black-02);
}

#main .detail .projects .btn_close>div:nth-child(1) {
  transform: rotate(50deg);
}

#main .detail .projects .btn_close>div:nth-child(2) {
  transform: rotate(-50deg);
}

#main .detail .projects .image_main {
  width: calc(100vw - 230px);
  height: calc(((100vw - 230px) / 4) * 3);
  max-width: 970px;
  max-height: calc((970px / 4) * 3);
  border-radius: 16px;
  background-color: var(--color-black-03);
}

#main .detail .projects .description {
  padding: 0 155px;
  font-weight: 400;
  line-height: 1.4;
}

#main .detail .projects .image_sub {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 24px;
}

#main .detail .projects .image_sub li {
  flex-shrink: 0;
  width: 360px;
  height: 480px;
  border-radius: 16px;
  background-color: var(--color-black-03);
}

#main .detail .projects .caption {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 310px);
}

#main .detail .projects .caption>div {
  display: flex;
  column-gap: 16px;
}

#main .detail .projects .caption>div b {
  font-weight: 600;
}