/* COMMON */

:root {
  --color-main: #7225FF;
  --color-black-01: #161616;
  --color-black-02: #333333;
  --color-black-03: #d9d9d9;
  --font-title: "Anton", "Paperlogy", sans-serif;
  --font-p: "Anton", "Pretendard", sans-serif;
  --font-pretendard: "Pretendard", sans-serif;
}

* {
  box-sizing: border-box;
  color: var(--color-black-01);
  font-family: var(--font-p);
  letter-spacing: -0.3;
  white-space: nowrap;
}

*:not(a),
*:not(button) {
  user-select: none;
}

a, button {
  font-family: var(--font-title);
}

::-webkit-scrollbar {
  display: none;
}

#header {
  width: 100vw;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 0 auto;
}

#header a {
  font-size: 40px;
  transition: 0.2s;
}

#header a.active {

  color: var(--color-main);
}

#header a:hover {
  color: var(--color-main);
}

#wrap {
  position: relative;
}

.fu {
  display: block;
}

.br_pc {
  display: block;
}

.br_tab {
  display: none;
}

.br_mob {
  display: none;
}

/* ABOUT */
#main .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

#main .title {
  height: calc(100vh - 120px);
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  border-bottom: 2px solid var(--color-main);
}

#main .title p span,
#main .contact p span {
  color: var(--color-main);
  font-family: var(--font-p);
  font-size: 144px;
}

#main .profile {
  border-bottom: 2px solid var(--color-main);
}

#main .profile .container {
  display: flex;
  align-items: center;
}

#main .profile .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 600px;
  min-height: 60vh;
  border-right: 2px solid var(--color-main);
}

#main .profile .skills>b {
  margin-bottom: 20px;
  font-size: 96px;
}

#main .profile .skills p {
  letter-spacing: -1%;
}

#main .profile .keyword {
  width: 50%;
  text-align: right;
}

#main .profile .skills>b,
#main .profile .keyword .en p {
  color: var(--color-main);
  font-family: var(--font-title);
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 2%;
}

#main .profile .skills p,
#main .profile .keyword .ko p {
  padding-top: 24px;
  font-family: var(--font-pretendard);
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
}

#main .profile .skills p b, 
#main .profile .keyword .ko p {
  font-weight: 700;
  letter-spacing: 0;
}

#main .projects_image_wrap {
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid var(--color-main);
}

#main .projects_image_wrap .projects_image {
  display: flex;
}

#main .projects_image_wrap .projects_image li {
  overflow: hidden;
  aspect-ratio: 3 / 4;
  flex-shrink: 0;
  width: 25vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 2px solid var(--color-main);
}

#main .projects_image_wrap .projects_image li a {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 4;
}

#main .projects_image_wrap .projects_image li:nth-child(1),
#main .projects_image_wrap .projects_image li:nth-child(7) {
  background-image: url(../img/projects/ct03_project01_thumbnail.jpg);
}

#main .projects_image_wrap .projects_image li:nth-child(2),
#main .projects_image_wrap .projects_image li:nth-child(8) {
  background-image: url(../img/projects/ct01_project01_thumbnail.jpg);
}

#main .projects_image_wrap .projects_image li:nth-child(3),
#main .projects_image_wrap .projects_image li:nth-child(9) {
  background-image: url(../img/projects/ct01_project07_thumbnail.jpg);
}

#main .projects_image_wrap .projects_image li:nth-child(4),
#main .projects_image_wrap .projects_image li:nth-child(10) {
  background-image: url(../img/projects/ct02_project01_thumbnail.jpg);
}

#main .projects_image_wrap .projects_image li:nth-child(5),
#main .projects_image_wrap .projects_image li:nth-child(11) {
  background-image: url(../img/projects/ct01_project02_thumbnail.jpg);
}

#main .projects_image_wrap .projects_image li:nth-child(6),
#main .projects_image_wrap .projects_image li:nth-child(12) {
  background-image: url(../img/projects/ct02_project02_thumbnail.jpg);
}

#main .profile_02 {
  height: 450px;
  min-height: 40vh;
  padding: 100px 40px;
  border-bottom: 2px solid var(--color-main);
}

#main .contact {
  height: 720px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 40px 100px;
  border-bottom: 0;
}

#main .contact .links {
  display: flex;
  column-gap: 40px;
  padding: 40px 0;
}

#main .contact a {
  font-size: 48px;
  color: var(--color-black-01);
  transition: 0.3s;
  letter-spacing: 3%;
}

#main .contact a:hover {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-black-01);
}

/* PROJECTS */

#main .categories {
  display: flex;
  justify-content: center;
  column-gap: 36px;
  padding: 20px 0 40px;
  margin: auto;
}

#main .categories button.active {

  color: var(--color-main);
}

#main .categories button {
  font-size: 24px;
  transition: 0.2s;
}

#main .categories button:hover {
  color: var(--color-main);
}

#main .thumbnail {
  overflow: hidden;
  position: relative;
  height: 1580px;
}

#main .thumbnail .projects {
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  opacity: 0;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1120px;
  margin: 0 auto;
  padding-bottom: 100px;
  transform: translateY(200px);
  transition: 0.3s;
}

#main .thumbnail .projects.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#main .thumbnail .projects li {
  overflow: hidden;
  position: relative;
  aspect-ratio: 3 / 4;
  border-radius: 16px;
  cursor: pointer;
  background-color: #000;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#main .thumbnail .projects li:hover .thumb_img {
  opacity: 0.2;
  transform: scale(1.1);
}

#main .thumbnail .projects li:hover b {
  display: block;
}

#main .thumbnail .projects li .thumb_img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-black-03);
  transition: 0.5s;
}

#main .thumbnail .projects li b {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-family: "Paperlogy", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: -0.3;
  transform: translate(-50%, -50%);
  transition: 0.6s;
}

.project_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  max-width: 1120px;
  padding: 120px 80px 100px;
  margin: 0 auto;
}

.project_wrap .project_title {
  padding: 20px 0 40px;
  font-family: "Paperlogy", sans-serif;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: -0.3;
  transform: scaleX(0.95);
}

.project_wrap .caption {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 80px);
}

.project_wrap .caption>div {
  display: flex;
  column-gap: 16px;
}

.project_wrap .caption>div b {
  font-weight: 800;
}

.project_wrap .image_main {
  width: 100%;
  aspect-ratio: 4 / 3;
  max-width: 970px;
  border-radius: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.project_wrap .description {
  padding: 0 40px;
  font-weight: 400;
  line-height: 1.4;
  white-space: wrap;
}

.project_wrap .description b {
  display: inline;
  font-weight: 700;
  white-space: wrap;
}

.project_wrap .image_sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

.project_wrap .image_sub.b30 {
  row-gap: 66px;
}

.project_wrap .image_sub.col3 {
  grid-template-columns: repeat(3, 1fr);
}

.project_wrap .image_sub.square li {
  aspect-ratio: 1 / 1;
}

.project_wrap .image_sub li {
  position: relative;
  aspect-ratio: 3 / 4;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-black-03);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.project_wrap .image_sub li::after {
  position: absolute;
  left: 20px;
  bottom: -36px;
  color: var(--color-black-02);
  font-weight: 700;
}

/* projects image ct01 - 01 - 식품 브랜드 SNS 콘텐츠 */

#main .thumbnail .projects.ct01 li.project01 .thumb_img {
  background-image: url(../img/projects/ct01_project01_thumbnail.jpg);
}

.projects.ct01 .project_wrap.project01 .image_main {
  background: url(../img/projects/ct01_project01_main.jpg) no-repeat center/cover;
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct01_project01_17.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct01_project01_03.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct01_project01_28.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct01_project01_07.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct01_project01_11.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct01_project01_22.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct01_project01_06.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct01_project01_12.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(9) {
  background-image: url(../img/projects/ct01_project01_27.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(10) {
  background-image: url(../img/projects/ct01_project01_01.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(11) {
  background-image: url(../img/projects/ct01_project01_09.jpg);
}

.projects.ct01 .project_wrap.project01 .image_sub li:nth-child(12) {
  background-image: url(../img/projects/ct01_project01_16.jpg);
}

/* projects image ct01 - 02 - 문구 브랜드 SNS 콘텐츠 */

#main .thumbnail .projects.ct01 li.project02 .thumb_img {
  background-image: url(../img/projects/ct01_project02_thumbnail.jpg);
}

.projects.ct01 .project_wrap.project02 .image_main {
  background: url(../img/projects/ct01_project02_main.jpg) no-repeat center/cover;
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct01_project02_17.jpg);
}

.projects.ct01 .project_wrap.project02 li:nth-child(2) {
  background-image: url(../img/projects/ct01_project02_15.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct01_project02_12.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct01_project02_06.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct01_project02_26.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct01_project02_01.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct01_project02_10.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct01_project02_07.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(9) {
  background-image: url(../img/projects/ct01_project02_25.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(10) {
  background-image: url(../img/projects/ct01_project02_14.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(11) {
  background-image: url(../img/projects/ct01_project02_18.jpg);
}

.projects.ct01 .project_wrap.project02 .image_sub li:nth-child(12) {
  background-image: url(../img/projects/ct01_project02_20.jpg);
}

/* projects image ct01 - 03 - 웹에이전시 SNS 콘텐츠 */

#main .thumbnail .projects.ct01 li.project03 .thumb_img {
  background-image: url(../img/projects/ct01_project03_thumbnail.jpg);
}

.projects.ct01 .project_wrap.project03 .image_main {
  background: url(../img/projects/ct01_project03_main.jpg) no-repeat center/cover;
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct01_project03_27.jpg);
}

.projects.ct01 .project_wrap.project03 li:nth-child(2) {
  background-image: url(../img/projects/ct01_project03_15.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct01_project03_12.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct01_project03_26.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct01_project03_25.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct01_project03_01.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct01_project03_10.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct01_project03_24.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(9) {
  background-image: url(../img/projects/ct01_project03_14.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(10) {
  background-image: url(../img/projects/ct01_project03_07.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(11) {
  background-image: url(../img/projects/ct01_project03_18.jpg);
}

.projects.ct01 .project_wrap.project03 .image_sub li:nth-child(12) {
  background-image: url(../img/projects/ct01_project03_20.jpg);
}

/* projects image ct01 - 04 - 식품 상세페이지 */

.projects.ct01 .project_wrap.project04 .image_sub li {
  aspect-ratio: 1 / 10;
  background-position: 0 0;
}

#main .thumbnail .projects.ct01 li.project04 .thumb_img {
  background-image: url(../img/projects/ct01_project04_thumbnail.jpg);
}

.projects.ct01 .project_wrap.project04 .image_main {
  background: url(../img/projects/ct01_project04_main.jpg) no-repeat center/cover;
}

.projects.ct01 .project_wrap.project04 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct01_project04_01.jpg);
}

.projects.ct01 .project_wrap.project04 li:nth-child(2) {
  background-image: url(../img/projects/ct01_project04_02.jpg);
}

.projects.ct01 .project_wrap.project04 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct01_project04_03.jpg);
}

.projects.ct01 .project_wrap.project04 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct01_project04_05.jpg);
}

.projects.ct01 .project_wrap.project04 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct01_project04_04.jpg);
}

.projects.ct01 .project_wrap.project04 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct01_project04_06.jpg);
}

/* projects image ct01 - 05 - 문구 제품 상세페이지 */

.projects.ct01 .project_wrap.project05 .image_sub li {
  aspect-ratio: 1 / 7.835;
  background-position: 0 0;
}

#main .thumbnail .projects.ct01 li.project05 .thumb_img {
  background-image: url(../img/projects/ct01_project05_thumbnail.jpg);
}

.projects.ct01 .project_wrap.project05 .image_main {
  background: url(../img/projects/ct01_project05_main.jpg) no-repeat center/cover;
}

.projects.ct01 .project_wrap.project05 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct01_project05_22.jpg);
}

.projects.ct01 .project_wrap.project05 li:nth-child(2) {
  background-image: url(../img/projects/ct01_project05_21.jpg);
}

.projects.ct01 .project_wrap.project05 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct01_project05_06.jpg);
}

.projects.ct01 .project_wrap.project05 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct01_project05_05.jpg);
}

.projects.ct01 .project_wrap.project05 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct01_project05_25.jpg);
}

.projects.ct01 .project_wrap.project05 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct01_project05_26.jpg);
}

.projects.ct01 .project_wrap.project05 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct01_project05_29.jpg);
}

.projects.ct01 .project_wrap.project05 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct01_project05_31.jpg);
}

/* projects image ct01 - 06 - 가전 제품 상세페이지 */

.projects.ct01 .project_wrap.project06 .image_sub li {
  aspect-ratio: 1 / 17;
  background-position: 0 0;
}

#main .thumbnail .projects.ct01 li.project06 .thumb_img {
  background-image: url(../img/projects/ct01_project06_thumbnail.jpg);
}

.projects.ct01 .project_wrap.project06 .image_main {
  background: url(../img/projects/ct01_project06_main.jpg) no-repeat center/cover;
}

.projects.ct01 .project_wrap.project06 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct01_project06_02.jpg);
}

.projects.ct01 .project_wrap.project06 li:nth-child(2) {
  background-image: url(../img/projects/ct01_project06_05.jpg);
}

.projects.ct01 .project_wrap.project06 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct01_project06_03.jpg);
}

.projects.ct01 .project_wrap.project06 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct01_project06_04.jpg);
}

.projects.ct01 .project_wrap.project06 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct01_project06_08.jpg);
}

.projects.ct01 .project_wrap.project06 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct01_project06_01.jpg);
}

/* projects image ct01 - 07 - 전시 디자인 */

#main .thumbnail .projects.ct01 li.project07 .thumb_img {
  background-image: url(../img/projects/ct01_project07_thumbnail.jpg);
}

.projects.ct01 .project_wrap.project07 .image_main {
  background: url(../img/projects/ct01_project07_main.jpg) no-repeat center/cover;
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct01_project07_04.jpg);
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct01_project07_02.jpg);
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct01_project07_03.jpg);
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct01_project07_05.jpg);
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct01_project07_08.jpg);
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct01_project07_01.jpg);
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct01_project07_09.jpg);
}

.projects.ct01 .project_wrap.project07 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct01_project07_07.jpg);
}

/* projects image ct02 - 01 - 식품 브랜드 패키지 및 굿즈 */

#main .thumbnail .projects.ct02 li.project01 .thumb_img {
  background-image: url(../img/projects/ct02_project01_thumbnail.jpg);
}

.projects.ct02 .project_wrap.project01 .image_main {
  background: url(../img/projects/ct02_project01_main.jpg) no-repeat center/cover;
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct02_project01_10.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct02_project01_06.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct02_project01_08.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct02_project01_13.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct02_project01_14.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct02_project01_05.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct02_project01_09.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct02_project01_15.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(9) {
  background-image: url(../img/projects/ct02_project01_01.jpg);
}

.projects.ct02 .project_wrap.project01 .image_sub li:nth-child(10) {
  background-image: url(../img/projects/ct02_project01_02.jpg);
}

/* projects image ct02 - 02 - 문구 제품 개발 및 패키지 */

#main .thumbnail .projects.ct02 li.project02 .thumb_img {
  background-image: url(../img/projects/ct02_project02_thumbnail.jpg);
}

.projects.ct02 .project_wrap.project02 .image_main {
  background: url(../img/projects/ct02_project02_main.jpg) no-repeat center/cover;
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct02_project02_20.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct02_project02_03.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct02_project02_02.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct02_project02_06.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct02_project02_07.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct02_project02_08.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct02_project02_04.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct02_project02_09.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(9) {
  background-image: url(../img/projects/ct02_project02_11.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(10) {
  background-image: url(../img/projects/ct02_project02_01.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(11) {
  background-image: url(../img/projects/ct02_project02_19.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(12) {
  background-image: url(../img/projects/ct02_project02_17.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(13) {
  background-image: url(../img/projects/ct02_project02_21.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(14) {
  background-image: url(../img/projects/ct02_project02_22.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(15) {
  background-image: url(../img/projects/ct02_project02_12.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(16) {
  background-image: url(../img/projects/ct02_project02_16.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(17) {
  background-image: url(../img/projects/ct02_project02_14.jpg);
}

.projects.ct02 .project_wrap.project02 .image_sub li:nth-child(18) {
  background-image: url(../img/projects/ct02_project02_13.jpg);
}

/* projects image ct02 - 03 - 고양이 간식 패키지 디자인 */

#main .thumbnail .projects.ct02 li.project03 .thumb_img {
  background-image: url(../img/projects/ct02_project03_thumbnail.jpg);
}

.projects.ct02 .project_wrap.project03 .image_main {
  background: url(../img/projects/ct02_project03_main.jpg) no-repeat center/cover;
}

.projects.ct02 .project_wrap.project03 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct02_project03_01.jpg);
}

.projects.ct02 .project_wrap.project03 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct02_project03_02.jpg);
}

.projects.ct02 .project_wrap.project03 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct02_project03_03.jpg);
}

.projects.ct02 .project_wrap.project03 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct02_project03_04.jpg);
}

.projects.ct02 .project_wrap.project03 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct02_project03_05.jpg);
}

.projects.ct02 .project_wrap.project03 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct02_project03_06.jpg);
}

/* projects image ct03 - 01 - Everyone has treasures */

#main .thumbnail .projects.ct03 li.project01 .thumb_img {
  background-image: url(../img/projects/ct03_project01_thumbnail.jpg);
}

.projects.ct03 .project_wrap.project01 .image_main {
  background: url(../img/projects/ct03_project01_main.jpg) no-repeat center/cover;
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct03_project01_03.jpg);
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct03_project01_02.jpg);
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct03_project01_08.jpg);
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct03_project01_05.jpg);
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct03_project01_04.jpg);
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct03_project01_09.jpg);
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct03_project01_06.jpg);
}

.projects.ct03 .project_wrap.project01 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct03_project01_07.jpg);
}

/* projects image ct03 - 02 - 너로 가득한 세상에서 나 찾기 */

#main .thumbnail .projects.ct03 li.project02 .thumb_img {
  background-image: url(../img/projects/ct03_project02_thumbnail.jpg);
}

.projects.ct03 .project_wrap.project02 .image_main {
  background: url(../img/projects/ct03_project02_main.jpg) no-repeat center/cover;
}

.projects.ct03 .project_wrap.project02 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct03_project02_03.jpg);
}

.projects.ct03 .project_wrap.project02 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct03_project02_02.jpg);
}

.projects.ct03 .project_wrap.project02 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct03_project02_01.jpg);
}

.projects.ct03 .project_wrap.project02 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct03_project02_05.jpg);
}

/* projects image ct03 - 03 - 의사대통 */

#main .thumbnail .projects.ct03 li.project03 .thumb_img {
  background-image: url(../img/projects/ct03_project03_thumbnail.jpg);
}

.projects.ct03 .project_wrap.project03 .image_main {
  background: url(../img/projects/ct03_project03_main.jpg) no-repeat center/cover;
}

.projects.ct03 .project_wrap.project03 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct03_project03_05.jpg);
}

.projects.ct03 .project_wrap.project03 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct03_project03_01.jpg);
}

.projects.ct03 .project_wrap.project03 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct03_project03_03.jpg);
}

.projects.ct03 .project_wrap.project03 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct03_project03_06.jpg);
}

.projects.ct03 .project_wrap.project03 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct03_project03_04.jpg);
}

.projects.ct03 .project_wrap.project03 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct03_project03_02.jpg);
}

/* projects image ct03 - 04 - 그림전도 */

#main .thumbnail .projects.ct03 li.project04 .thumb_img {
  background-image: url(../img/projects/ct03_project04_thumbnail.jpg);
}

.projects.ct03 .project_wrap.project04 .image_main {
  background: url(../img/projects/ct03_project04_main.jpg) no-repeat center/cover;
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(1) {
  background-image: url(../img/projects/ct03_project04_10.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(1)::after {
  content: '사랑이 흐려져가고 있진 않은가요?';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(2) {
  background-image: url(../img/projects/ct03_project04_03.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(2)::after {
  content: '범사에 감사하라 (데살로니가전서 5장 18절)';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(3) {
  background-image: url(../img/projects/ct03_project04_04.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(3)::after {
  content: '정말 중요한 것은 눈에 보이지 않아요';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(4) {
  background-image: url(../img/projects/ct03_project04_05.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(4)::after {
  content: '사랑은 오래오래 참는 것';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(5) {
  background-image: url(../img/projects/ct03_project04_06.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(5)::after {
  content: '화목하라 (로마서 12장 18절)';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(6) {
  background-image: url(../img/projects/ct03_project04_07.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(6)::after {
  content: '하루하루 성실한 삶은 결코 헛되지 않을 거예요';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(7) {
  background-image: url(../img/projects/ct03_project04_08.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(7)::after {
  content: '너희는 거저 받았으니 거저 주라 (마태복음 10장 8절)';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(8) {
  background-image: url(../img/projects/ct03_project04_09.jpg); 
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(8)::after {
  content: '믿음대로 살길';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(9) {
  background-image: url(../img/projects/ct03_project04_02.jpg);
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(9)::after {
  content: '나를 충전시켜주는 것은 무엇인가요?';
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(10) {
  background-image: url(../img/projects/ct03_project04_11.jpg); 
}

.projects.ct03 .project_wrap.project04 .image_sub li:nth-child(10)::after {
  content: '감사하는 마음 잊지 않기!';
}